In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv('ratings.csv')
ratings.head()
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [4]:
# Задание 1
# Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
# - оценка 2 и меньше - низкий рейтинг
# - оценка 4 и меньше - средний рейтинг
# - оценка 4.5 и 5 - высокий рейтинг

# Результат классификации запишите в столбец class

def class_rating(item):
    if item <= 2.0:
        return 'low'
    elif item > 2.0 and item <= 4.0:
        return 'middle'
    else:
        return 'hight'

In [5]:
grouped = joined.groupby('movieId').mean()

In [6]:
grouped['class'] = grouped['rating'].apply(class_rating)
grouped.head(30)

             userId    rating     timestamp   class
movieId
1        232.218182  3.954545  1.113378e+09  middle
2        242.269231  3.365385  1.110902e+09  middle
3        204.175000  3.312500  9.853303e+08  middle
4        156.500000  2.500000  8.420487e+08  middle
5        232.605263  3.276316  9.417387e+08  middle
6        237.556962  3.924051  1.063230e+09  middle
7        187.600000  3.262500  9.441748e+08  middle
8        223.571429  2.857143  9.414515e+08  middle
9        336.857143  3.107143  9.109635e+08  middle
10       244.267327  3.485149  1.025500e+09  middle
11       218.961538  3.826923  9.675445e+08  middle
12       254.800000  2.633333  9.921726e+08  middle
13       160.833333  3.166667  1.041885e+09  middle
14       286.000000  3.846154  8.905629e+08  middle
15       180.857143  3.285714  8.879005e+08  middle
16       261.656716  3.985075  1.131672e+09  middle
17       230.686275  3.794118  9.888364e+08  middle
18       201.142857  3.714286  1.188348e+09  middle
19       224.619048  2.698413  1.118374e+09  middle
20       287.636364  2.818182  1.115569e+09  middle
21       232.902778  3.451389  9.611060e+08  middle
22       254.851852  3.148148  9.737916e+08  middle
23       202.916667  3.333333  1.006341e+09  middle
24       240.111111  3.222222  9.945495e+08  middle
25       235.619048  3.658730  9.969407e+08  middle
26       196.500000  3.650000  9.262193e+08  middle
27       325.142857  3.428571  1.016768e+09  middle
28       215.333333  4.333333  1.139226e+09   hight
29       252.862069  4.155172  1.119903e+09   hight
30       325.000000  4.000000  1.039400e+09  middle

In [7]:
# Используем файл keywords.csv.

# Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

# Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

# geo_data = {

# 'Центр': ['москва', 'тула', 'ярославль'],

# 'Северо-Запад': ['петербург', 'псков', 'мурманск'],

# 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
# }

# Результат классификации запишите в отдельный столбец region.

In [8]:
kw = pd.read_csv('keywords.csv')

In [9]:
kw.head(30)

                          keyword       shows
0                              вк  64292779.0
1                   одноклассники  63810309.0
2                           порно  41747114.0
3                            ютуб  39995567.0
4                       вконтакте  21014195.0
5      одноклассники моя страница  19976138.0
6                            майл  15144673.0
7                           авито  14786593.0
8                      переводчик  14453469.0
9                          яндекс  13344734.0
10                сбербанк онлайн  10725673.0
11                           mail   7687204.0
12                           игры   6075762.0
13                        youtube   5729958.0
14         вконтакте моя страница   5971451.0
15                           секс   5431732.0
16                           гугл   5175471.0
17                             dr   4880955.0
18                    алиэкспресс   4879645.0
19                        рамблер   4540421.0
20                    фильмы 2016   4486635.0
21                         погода   4344510.0
22                             vk   4330448.0
23              ютуб видеохостинг   4215267.0
24                          дойки   4133424.0
25  одноклассники социальная сеть   4018230.0
26                       мультики   3866664.0
27                        контакт   3815111.0
28                        фейсбук   3669993.0
29                    порно видео   3858938.0

In [10]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [11]:
for row in geo_data:
    print(geo_data[row])

['москва', 'тула', 'ярославль']
['петербург', 'псков', 'мурманск']
['владивосток', 'сахалин', 'хабаровск']

In [12]:
b1 = [1,2,3,4,5,9,11,15]
b2 = [4,6,7,8]
len(set(b1).intersection(b2))

1

In [13]:
def find_geo(keywords):
    rows = []
    for row in geo_data:
        if len(set(geo_data[row]).intersection(keywords.split(' '))) > 0:
            rows.append(row)
    if len(rows) > 0:
        return ' '.join(rows)
    return 'undefined'

In [14]:
kw['region'] = kw.keyword.apply(find_geo)

In [15]:
kw[kw.region != 'undefined'].head(20)

                                 keyword     shows          region
127                         авито москва  979292.0           Центр
370             авито ру санкт петербург  425134.0    Северо-Запад
849                      авито ярославль  209581.0           Центр
1063                 фарпост владивосток  176951.0  Дальний Восток
1236                банк санкт петербург  174375.0    Северо-Запад
1259                              москва  153050.0           Центр
1346                     санкт петербург  144232.0    Северо-Запад
1396                     гисметео москва  140279.0           Центр
1482                    госуслуги москва  133061.0           Центр
1579                          авито тула  126168.0           Центр
1682                       погода москва  151701.0           Центр
2153                         авито псков   98931.0    Северо-Запад
2175                      дром хабаровск   98361.0  Дальний Восток
2398                      авито мурманск   89787.0    Северо-Запад
2550  банк санкт петербург интернет банк   89123.0    Северо-Запад
2806            циан недвижимость москва   78729.0           Центр
2974             авто ру санкт петербург   74918.0    Северо-Запад
3206                    дром владивосток   73084.0  Дальний Восток
3275                  100 сп владивосток   76418.0  Дальний Восток
3687                     авито хабаровск   63736.0  Дальний Восток

In [16]:
# Задание 3
# Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”.
# Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия.
# Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

# При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, 
# а пройдемся по следующему алгоритму:

# В переменную years запишите список из всех годов с 1950 по 2010.

# Напишите функцию production_year, которая каждой строке из названия фильма выставляет
# год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате,
# поэтому используйте следующий алгоритм:

# для каждой строки пройдите по всем годам списка years
# если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
# если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
# Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

# Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ 
# и отсортируйте результат по убыванию рейтинга

In [17]:
years = list(range(1950,2010))

In [18]:
def production_year(name):
    for year in years:
        if str(year) in name:
            return year
    return 1900

In [19]:
joined['year'] = joined.title.apply(production_year)
joined.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,1995
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,1995
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995

In [20]:
joined.groupby('year').mean().sort_values('rating', ascending=False)

          userId       movieId    rating     timestamp
year
1957  257.618497   2750.289017  4.086705  1.173341e+09
1962  265.985437   4168.407767  4.016990  1.135820e+09
1954  239.712195   2158.463415  3.997561  1.147583e+09
1972  253.700348   4339.567944  3.972125  1.179830e+09
1967  239.155405   4134.456081  3.951014  1.139776e+09
1974  260.546667   3651.640000  3.938667  1.160329e+09
1964  247.632867   4553.517483  3.931818  1.161816e+09
1958  281.395349   2924.100775  3.930233  1.098948e+09
1975  257.093361   2969.904564  3.912863  1.156380e+09
1966  263.063830  10189.546099  3.907801  1.187704e+09
1952  275.720588   1985.529412  3.904412  1.123664e+09
1971  258.882206   4693.167920  3.884712  1.141833e+09
1968  248.144578   5083.734940  3.870482  1.142857e+09
1951  255.647059   1879.933824  3.856618  1.116682e+09
1977  252.040380   4401.311164  3.847981  1.157118e+09
1950  259.240000   3631.744000  3.828000  1.150814e+09
1973  260.947945   5948.813699  3.804110  1.139522e+09
1959  267.177419   2750.736559  3.803763  1.124849e+09
1960  270.626943   3339.398964  3.787565  1.152279e+09
1976  267.134615   3373.368590  3.785256  1.142204e+09
1965  249.106383   8375.186170  3.784574  1.138525e+09
1980  256.591367   3067.571223  3.784173  1.145974e+09
1981  245.565445   4057.994764  3.773997  1.129653e+09
1970  254.614973   5140.390374  3.724599  1.106584e+09
1969  258.948571   7020.788571  3.722857  1.086538e+09
1961  251.807018   6380.900585  3.722222  1.133885e+09
1955  266.585938   4056.804688  3.714844  1.114419e+09
1956  305.986667   4680.680000  3.700000  1.110976e+09
1979  256.155779   3967.070352  3.690117  1.151404e+09
1953  252.349057   4096.773585  3.679245  1.132385e+09
...          ...           ...       ...           ...
1983  257.057325   5016.453822  3.656051  1.145161e+09
1991  243.520095   2733.246651  3.598503  1.101926e+09
1900  245.520189  92031.785862  3.568207  1.403756e+09
2009  237.450549  71133.890842  3.565568  1.402059e+09
2007  242.448968  55517.896216  3.543291  1.342658e+09
1999  248.668949   3208.572194  3.529026  1.159083e+09
1994  232.819725    612.366945  3.528529  1.036103e+09
2008  235.315724  62196.854568  3.525171  1.374593e+09
1982  255.934811   2634.788787  3.523468  1.125532e+09
1984  252.600190   3413.194682  3.523267  1.129363e+09
2006  251.454447  48253.323753  3.521692  1.320275e+09
2004  244.941007  12995.813119  3.520421  1.289751e+09
2001  253.734492   5354.830948  3.509714  1.225245e+09
1987  256.842396   3415.101382  3.499078  1.119663e+09
1989  243.752933   2636.360704  3.486804  1.111844e+09
1986  255.925225   3456.162162  3.486036  1.111129e+09
1993  237.852118   1241.366475  3.475413  1.051522e+09
1995  233.679443    310.814347  3.468308  1.031569e+09
2003  251.890295   8617.400000  3.467722  1.264253e+09
1990  247.250866   2638.453222  3.443867  1.104123e+09
1985  254.098624   3292.598624  3.430046  1.118494e+09
1998  244.030326   2433.195058  3.428117  1.144148e+09
1978  267.367052   5848.881503  3.423410  1.127279e+09
2002  256.690681   6279.905735  3.419176  1.229076e+09
2000  250.370314   4421.224322  3.417708  1.185199e+09
1988  253.416441   3635.402891  3.413279  1.125944e+09
1992  242.682212   2902.293138  3.373751  1.101394e+09
2005  247.668739  37186.237422  3.360938  1.302845e+09
1996  232.370996   1071.103796  3.353648  1.046218e+09
1997  239.814433   2225.793446  3.350331  1.128490e+09

[61 rows x 4 columns]